@{
    ViewBag.Title = "Home";
}

<link href="~/Content/Site.css" />


<h1><span style="color:bisque">Welcome To HR</span></h1>

<div class="p-5 text-center bg-image rounded-3"
     style="
    background-image: url('../../Img/HR.png');
    height: 600px;
  ">
    </div>
    <p><span style="color:cornflowerblue">This is simple web application for Human Resource</span></p>
