@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4"><span style="color:mediumpurple">Welcome to LibraryList</span></h1>
    <p>This is simple application with basic CRUD operations!<br />
    <i><span style="color:mediumpurple">Made with Razor Pages</span></i></p>
    <img src="~/img/img1.png" style="width:100%;"/>
</div>
